@import url(./fonts.css);

*{

    margin: 0;
    padding: 0;

    font-family: Tektur;

}

body{

    height: 100vh;

    background: url(../imgs/wallpaper_resultados.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

}

section{

    height: 40%;
    width: 45%;

    row-gap: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

section h1{font-size: 4em;}

section p{font-size: 1.2em;}

section a{

    height: 70px;
    width: 250px;

}

section button{

    height: 70px;
    width: 250px;

    font-size: 1.7em;
    color: white;
    transition: 0.25s;

    background-color: black;
    border: none;

}

section button:hover{background-color: rgb(124, 8, 8);}